<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <form method="POST" actions="/new">
      <label for="messageUser">
        Username:
        <input type="text" name="messageUser" id="messageUser" required />
      </label>

      <label for="messageText">
        Message:
        <textarea name="messageText" id="messageText" required></textarea>
      </label>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
